extends layout

block content
	.container(style="margin-top: 15px;") 
		.row(data-ng-controller="indexcontroller")
			.col-4.offset-4 
				.card
					.card-body.text-center
						p Catini Systems
						.d-grid.gap-1
							button.btn.btn-danger.btn-block(type="button" data-ng-click="loginWithGoogle()") Login with <i class="fa-brands fa-google"></i>
	script.
		app.controller("indexcontroller", indexcontroller);
			indexcontroller.$inject = ["$scope", "$window"];

			function indexcontroller($scope, $window) {
				$scope.loginWithGoogle = function() {
					$window.location.href = "/auth/federated/google";
				}
			}