extends layout


block content
    include menu.pug   
    .container(style="margin-top: 60px;")
        .row
            .col-4.offset-4.text-center
                img.img-fluid(src="https://logodownload.org/wp-content/uploads/2022/04/javascript-logo-1.png")

                //- .card
                //-     .card-body