extends layout


block content
    include menu.pug
    .container(style="margin-top: 15px;" data-ng-controller="controller")
        .row
            .col-12
                .col-12
                    .mb2.text-end
                        .btn-group
                            button.btn.btn-sm.btn-dark#back(type="button" onclick="window.location.href='/cat/nav/ui/classic/scripthelp'") New Record
                .col-12
                    hr
                    input.form-control.form-control-sm(type="text" data-ng-model="search.description" placeholder="Search" autofocus="true")
                    br
                table.table.table-hover.table-sm
                    thead.table-dark
                        tr
                            th #
                            th Short Description
                            th Description
                    tbody
                        tr(data-ng-click="selectScript(sc)" data-ng-repeat="sc in scripts | filter:search" style="cursor: pointer;")
                            td {{sc.id}}
                            td {{sc.short_description}}
                            td {{sc.description}}
                        
    script(src="/scripthelp_list.js")