<div class="container-fluid">
    <div class="row">
        <div class="card">


            <div class="text-center">
                <img style="border-radius: 100%; height: 150px;" class="img-fluid"
                    data-ng-src="{{data.info_loja.logotipo}}" />
            </div>

            <div class="card-body">

                <h5 class="card-title">{{data.info_loja.nome}}</h5>

                <!-- ############################# -->

                <div>
                    <small>Aberto até as {{data.info_loja.aberto_ate}} ● Pedido min.
                        <strong>{{data.info_loja.pedido_minimo}}</strong></small>
                </div>

                <!-- ############################# -->

                <div class="col-12">
                    <hr>
                </div>

                <!-- ############################# -->

                <div class="col-12">
                    <select class="form-select" data-ng-model="send_data.tipo_entrega"
                        data-ng-options="tpentrega.value as tpentrega.label for tpentrega in tipos_de_entrega">
                    </select>
                </div>

                <!-- ############################# -->

                <div class="col-12">
                    <hr>
                </div>

                <!-- ############################# -->

                <div class="accordion" id="grupo_item">
                    <div data-ng-repeat="grupo in data.grupo_item">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_{{grupo.id}}" aria-expanded="false"
                                    aria-controls="collapse_{{grupo.id}}">
                                    <strong style="font-size: 11pt; color: orangered">{{grupo.nome}}</strong>
                                </button>
                            </h2>
                            <div id="collapse_{{grupo.id}}" class="accordion-collapse collapse"
                                data-bs-parent="#grupo_item">
                                <div class="accordion-body">

                                    <div data-ng-repeat="item in grupo.itens">

                                        <div style="display: flex;" data-ng-click="selecionar_item(item)">
                                            <div style="flex: 3;">
                                                <p style="font-size: 11pt;">
                                                    <span>{{item.nome}}</span>
                                                    <br />
                                                    <small style="color: gray">{{item.descricao}}</small>
                                                    <br />
                                                    <small
                                                        style="color: gray; font-size: 8pt;"><strong>{{item.porcao}}</strong></small>
                                                </p>
                                                <p style="font-size: 11pt;">{{item.valor_unitario_formatado}}</p>
                                            </div>
                                            <div style="flex: 1; margin: 0px;">
                                                <img style="border-radius: 10%;" class="img-fluid"
                                                    data-ng-src="{{item.imagem}}" />
                                            </div>
                                        </div>
                                        <div data-ng-if="$index < grupo.itens.length - 1">
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ############################# -->

                <button data-ui-sref="sacola" type="button" class="floating-button-bag">
                    <i class="fa-solid fa-basket-shopping"></i>
                </button>





















            </div>
        </div>
    </div>
</div>